@model GigHub.ViewModels.GigDetailViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="gig-detail">
    <div>
        <span><h2>@Model.Gig.Artist.Name</h2></span>
        @if (Model.IsUserAuthenticated)
        {
            if (Model.IsFollowing)
            {
                <button data-followee-id="@Model.Gig.ArtistId" class="btn btn-info btn-sm js-toggle-follow">Following</button>
            }
            else
            {
                <button data-followee-id="@Model.Gig.ArtistId" class="btn btn-default btn-sm js-toggle-follow">Follow</button>
            }

        }
    </div>
    <div>
        Performing at @Model.Gig.Venue on @Model.Date at @Model.Time
    </div>
    @if (Model.IsUserAuthenticated && Model.IsAttending)
    {
        <hr />
        <div class="alert alert-info">You are going to this event!</div>
    }

</div>

@section scripts {
    <script>
        $(document).ready(function () {
            followingController.init();
        });
    </script>
}